@font-face {
    font-family: digital;
    src: url(../font/digital-7.regular.ttf);
}
body{
    font-family: Arial, sans-serif;
    background-color: #bb720b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

center {
    text-align: center;   
}

h1 {
    color: #f3f2f2;
}

form {
    margin-top: 2em;
}

table {
    background-color: #070604;
    border: 3px solid #75502a;
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
}

td {
    padding: 8px;
    text-align: center;
}

input[type="text"] {
    width: 90%;
    height: 40px;
    padding: 4px;
    background-color: #f8e0b2;
    color: #002c2c;
    font-family: "digital";
    font-size: 30px;
    text-align: right;
    box-sizing: border-box;
    box-shadow: #daafaf;
    margin-bottom: 3px;
    cursor: unset;
}

.button1 {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 2px;
    cursor: pointer;
    background-color: #DB8400 !important;
    color: #a0f1d8;
    border: none;
    border-radius: 5px;

}

.button2 {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 2px;
    cursor: pointer;
    background-color: #db8400 !important;
    color: #a0f1d8;
    border: none;
    border-radius: 5px;
}

input[type="button"] {
    width: 55px;
    height: 50px;
    font-size: 1.1em;
    margin: 2px;
    cursor: pointer;
    background-color: #cf9c61;
    color: #79ffd5;
    border: none;
    border-radius: 3px;
}

input[type="button"] {

}